{% extends 'base.html' %}

{% block content %}

<div class="container col-sm-12 col-md-6">
    <div class="row">
        <div class="reset-form-wrapper">
            {%  if encode_email != None %}
                {{ encode_email }}
                <div>Введите полный имейл:</div>
            {% else %}
                {{ encode_phone }}
                <div>Введите полный номер:</div>
            {% endif %}

              <form autocomplete="off" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="reset-form-field">
                       {{ field }}
                    </div>
                     {% for error in field.errors %}
                         <p style="color: red; font-size: 80%">{{ error }}</p>
                     {% endfor %}
                {% endfor %}
                <div class="reset-form-btn"><button type="submit">Подтвердить</button></div>
              </form>
        </div>
    </div>
</div>
{% endblock content %}