{% extends 'base.html' %}

{% block content %}

<div class="container col-sm-12 col-md-6">
    <div class="row">
        <div class="reset-form-wrapper">
            <form autocomplete="off" action="" method="post">
                {% csrf_token %}
                <div class="reset-icon">
                    <i class=" fas fa-lock fa-8x"></i>
                </div>
                <h6 class="reset-form-header">Не удается войти?</h6>
                <div class="reset-form-help-text"> Введите имя пользователя или электронный адрес, и мы отправим вам
                    ссылку для восстановления доступа к аккаунту.</div>
                {% for field in form %}
                    <div class="reset-form-field">
                       {{ field }}
                    </div>
                    {% for error in field.errors %}
                                    <p style="color: red; font-size: 80%">Пользователя с таким именем не существует</p>
                    {% endfor %}
                {% endfor %}
                <div class="reset-form-btn"><button type="submit">Отправить</button></div>
                <div>ИЛИ</div>
                <div class="reset-form-new-account-href"><a href="{% url 'signup' %}">Создать новый аккаунт</a> </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}