{% extends 'base.html' %}


{% block content %}
    {% if validlink %}
        <div class="reset-done-container container col-sm-12 col-md-4">
            <div class="row">
                <div class="reset-message">
                    <div class="reset-icon">
                         <i class="fas fa-unlock-alt fa-8x"></i>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                         {% for field in form %}
                            <div class="reset-form-field">
                               {{ field }}
                            </div>
                            {% for error in field.errors %}
                                <p style="color: red; font-size: 80%">{{ error }}</p>
                            {% endfor %}
                         {% endfor %}
                         <div class="reset-form-btn">
                             <button class="no-copy" type="submit">RESET</button>
                         </div>
                        <div class="reset-error">
                          {% if messages %}
                            {% for message in messages %}
                                    {{ message }}
                            {% endfor %}
                          {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
       <div class="reset-done-container container col-sm-12 col-md-4">
            <div class="row">
                <div class="reset-message">
                    <div class="reset-icon">
                         <i class="fas fa-times fa-8x"></i>
                    </div>
                    Link isn't valid
                    <div>
                        <a href="{% url 'home' %}">On main</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

