{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="login-signup-container container-fluid">
        <div class="row">
            <div class="signup-page-signup-wrapper col-sm-12 col-md-9 col-lg-7 col-xl-6">
                <div class="row">
                {% if user.is_authenticated %}
                                You are already logged in
                {% else %}
                     <div class="signup-form-wrapper col-sm-12 col-md-6">
                        <div class="login-form-second-wrapper">
                            <h2 class="login-header no-copy">Sign Up</h2>
                            <form autocomplete="off" method="post">
                              {% csrf_token %}
                                {% for field in form %}
                                    <div class="input-signup-form">
                                        {{ field }}
                                    </div>
                                {% for error in field.errors %}
                                    <p style="color: red; font-size: 80%">{{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                            <div class="signup-page-btn-wrapper">
                                <button class="login-btn no-copy" type="submit">SIGN UP</button>
                            </div>
                                <div class="sign-up-mobile-btn signup-page-href-wrapper no-copy" style="display: none">Have an account? <a href="{% url 'login' %}">Login</a> </div>
                            </form>

                        </div>

                    </div>
                <div class="sign-page-signup-wrapper col-sm-12 col-md-6">
                    <div class="login-form-second-wrapper">
                        <h2 class="no-copy">Have an account<span class="question-login-form">?</span></h2>
                        <a href="{% url 'login' %}"><button class="login-btn sign-up-btn no-copy">LOGIN</button></a>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}





