<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head>
    {% block meta %}{% endblock meta%}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="Site">
    <div class="wrapper">
        <div class="wrapper-content">
            {% include 'navbar.html' %}
                {% block content %}
                {% endblock content %}
            {% include 'footer.html' %}
        </div>
    </div>
</body>
</html>
